<?xml version="1.0"?>

<launch>
  <!-- world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find phantomx_ros)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
  </include>

  <!-- robot -->
  <param name="robot_description" textfile="$(find phantomx_ros)/urdf/phantomx.urdf" />  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
  args="-file $(find phantomx_ros)/urdf/phantomx.urdf -urdf -model phantomx -z 0.2" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Joint_state_controller -->
  <rosparam file="$(find phantomx_ros)/controller/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" 
    args="spawn joint_state_controller" respawn="false" output="screen"/>

  <!-- Start this controller -->
  <rosparam file="$(find phantomx_ros)/controller/legs_controller.yaml" command="load"/>
  <node name="legs_controller_spawner" pkg="controller_manager" type="controller_manager" 
    args="spawn legs_controller" respawn="false" output="screen"/>
  <!-- Start the controller -->
  <rosparam file="$(find phantomx_ros)/controller/pid.yaml" command="load"/>
  
  



</launch>  